<!DOCTYPE html>
<html>
<head>
    <title>Any Random</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>

<h2>Welcome World</h2>
<br>
<br>

<div class="wrapper"> 
	<button class="button" onclick="location.href='http://127.0.0.1:5000/randomWord'" type="button"> Random Word Selector </button>
    <button class="button" onclick="location.href='http://127.0.0.1:5000/randomNumber'" type="button"> Random Number Generator </button>
</div>

</body>
</html>


