<!DOCTYPE html>
<html>
<head>
  <title>Word Selector</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/randomWordS.css') }}">
</head>

<body>

<h1>Unique Random Word Selector</h1>
<div>
  <h2 id="dynamic-text">Random Word : {{Rword}}</h2>
</div>
<form action="" method="POST">
  <label for="inputString">Paste Here</label>
  <input type="text" name="inputString" rows="10" cols="50">
  <br><br>
  <label for="inputSeparator">Separate Text</label>
  <input type="text" name="inputSeparator"><br><br>
  <input type="submit" name="Submit" value="Submit">
</form>



<!--
<Script>
 let text = document.getElementById("tobe").textContent;
var otherCheckbox = document.querySelector('input[value="seperate"]');
var otherText = document.querySelector('input[id="tobe"]');

otherText.style.visibility = 'hidden';

otherCheckbox.addEventListener('change', () => {
  if(otherCheckbox.checked) {
    otherText.style.visibility = 'visible';
    otherText.value = '';
  } else {
    otherText.style.visibility = 'hidden';
  }
});
</Script> -->

<p>Copy paste Names to be seleted randomly, if there is seperator select checkbox and give value , then Click the "Submit" button .</p>

</body>
</html>

